<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bono Adoptions</title>
    <link rel="stylesheet" href="../Styles/Styles.css">
    <link rel="stylesheet" media="(prefers-color-scheme:light)" href="../Styles/white.css">
    <link rel="stylesheet" media="(prefers-color-scheme:dark)" href="../Styles/dark.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <!--  NavBar  -->
    <nav>
        <div class="title-nav">
            <a href="../index.html"><h1>Bono Adoptions</h1></a>
        </div>
        <div class="nav-btn"> 
            <ul>
                <li><a href="./home.html">Inicio</a></li>
                <li><a href="./dog.html">Perros</a></li>
                <li><a href="./cat.html">Gatos</a></li>
                <li><a href="./other.html">Mascotas</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </div>
    </nav>
    <!--  NavBar  -->
    <!--  Main  -->
    <main>
        <div class="dog-main">
            <img src="../Assets/home-dog.jfif">
        </div>
        <div class="detail">
            <h1>Mejores cuidados para un perro</h1>
            <div class="cuidados">
            <div class="info">
                <h4>Espacio</h4>
                <div class="data">Desde el momento en que llegue el perro a casa debe tener su propio espacio para descansar. Si es un cachorro pasará buena parte del día durmiendo, así que debe tener una cama adaptada a su tamaño.

                    Quizá ahora te parezca una buena idea que el animal se suba al sofá o a la cama porque acabáis de conoceros y quieres pasar todo el tiempo posible con él. Pero debes acostumbrarle a que duerma en su cama porque sino en un futuro no entenderá por qué no le permites acurrucarse en el sofá o en la cama.</div>
            </div>
            <div class="info">
                <h4>Higiene</h4>
                <div class="data">En lo que respecta a la higiene, depende en gran medida de la raza del animal. Aún así, el cepillado diario es algo básico en todos los canes para eliminar los pelos muertos y evitar que se formen nudos. Cuando llegue el momento del baño, tienes que adquirir un champú especial para las características de su piel y pelo.

                    Y no te olvides de lo importante que es la higiene dental de los perros. Tienes que lavarle los dientes todos los días con un cepillo específico. También existen snacks y juguetes para eliminar los restos de comida y la placa dental.</div>
            </div>
            <div class="info">
                <h4>Alimentacion</h4>
                <div class="data">Y, por último, es esencial que el perro esté bien alimentado, así que debes ofrecerle una dieta saludable y variada. Puedes optar por alimentos secos o húmedos, pero siempre procurando que sean de buena calidad y le proporcionen al animal todos los nutrientes que necesita para crecer sano y feliz.

                    Estos son los mejores consejos sobre el cuidado de un perro para principiantes. Ármate de paciencia porque quizá le cueste acostumbrarse a su nuevo hogar, pero con amor y cariño todo será más fácil.
                    
                    </div>
            </div>      
        </div>
        <div class="adoptar">
            <img src="../Assets/pic.jfif">
            <div class="adoptar-text">
                <h1>
                    Dales una oportunidad
                </h1>
                <div class="text-oportunidad">
                    <p>Imagina tener a tu lado a un fiel compañero, un amigo incondicional que te dará amor, alegría y lealtad sin límites. Ese es el maravilloso regalo que puedes recibir al adoptar un perro. Estos seres especiales, con sus miradas llenas de esperanza, esperan pacientemente en refugios y organizaciones de rescate, anhelando encontrar un hogar donde puedan mostrar su amor y gratitud.

                        Cada perro en busca de adopción tiene una historia única y conmovedora. Al abrir las puertas de tu hogar a uno de ellos, estás brindando una segunda oportunidad a un ser vivo que ha experimentado el abandono, el maltrato o la pérdida de su familia. Tu amor y cuidado pueden transformar su vida y hacer que olviden los momentos difíciles que han enfrentado.
                        
                        La adopción de perros es un acto de amor y responsabilidad. Al elegir adoptar, estás contribuyendo a reducir la sobrepoblación de animales en los refugios y poniendo fin a la triste realidad del abandono. Estás demostrando que todos los seres vivos merecen una oportunidad justa y una vida digna.

Recuerda que no importa la raza, el tamaño o la edad del perro que decidas adoptar. Cada uno tiene su propia personalidad y carácter único, capaz de llenar tu vida de amor y diversión. Además, muchas veces los perros adultos son los más agradecidos y se adaptan fácilmente a su nuevo hogar.
                    </p>
                </div>
                <a href="https://www.veterinarias.com.ar/refugios-adopcion-animales.html"><button>Aca te dejamos una lista de refugios</button></a>
            </div>
        </div>
        </div>
    </main>
    <!--  Main  -->
</body>
</html>