<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bono Adoptions</title>
    <link rel="stylesheet" href="../Styles/Styles.css">
    <link rel="stylesheet" media="(prefers-color-scheme:light)" href="../Styles/white.css">
    <link rel="stylesheet" media="(prefers-color-scheme:dark)" href="../Styles/dark.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap" rel="stylesheet">
</head>
<body>
    <!--  NavBar  -->
    <nav>
        <div class="title-nav">
            <a href="../index.html"><h1>Bono Adoptions</h1></a>
        </div>
        <div class="nav-btn"> 
            <ul>
                <li><a href="./home.html">Inicio</a></li>
                <li><a href="./dog.html">Perros</a></li>
                <li><a href="./cat.html">Gatos</a></li>
                <li><a href="./other.html">Mascotas</a></li>
                <li><a href="./contacto.html">Contacto</a></li>
            </ul>
        </div>
    </nav>
    <!--  NavBar  -->
    <!--  Main  -->
    <main>
        <div class="title-other">
            <h1>En esta seccion te mostraremos algunas hermosas historias </h1>
        </div>
        <div class="nueva-hitoria"><h3>Te invitamos a que nos envies la tuya</h3></div>
        <div class="btn-historia"><a href="./contacto.html"><button>Cuentanos aqui</button></a></div>
        <div class="casos">
            <ul>
            <li>
            <div class="container-cartas">
            <img src="../Assets/Bonito.jpeg">
            <div>
                <p>Nombre : Bono</p>
                <p>Genero : Masculino</p>
            </div>
        </div>
        </li>
            <li>
                <div class="container-cartas">
                    <img src="../Assets/tyyson.jpeg">
                    <div>
                        <p>Nombre : Tyson</p>
                        <p>Genero : Masculino</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="container-cartas">
                    <img src="../Assets/Romita.jpeg">
                    <div>
                        <p>Nombre : Roma</p>
                        <p>Genero : Femenino</p>
                    </div>
                </div>
            </li>
        </ul>
        </div>
        <div class="casos">
            <ul>
            <li>
            <div class="container-cartas">
            <img src="../Assets/Cartucho.jpeg">
            <div>
                <p>Nombre : Cartucho</p>
                <p>Genero : Masculino</p>
            </div>
        </div>
        </li>
            <li>
                <div class="container-cartas">
                    <img src="../Assets/Ringo.jpeg">
                    <div>
                        <p>Nombre : Ringo</p>
                        <p>Genero : Masculino</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="container-cartas">
                    <img src="../Assets/Pepe.jpeg">
                    <div>
                        <p>Nombre : Pepe</p>
                        <p>Genero : Masculino</p>
                    </div>
                </div>
            </li>
        </ul>
        </div>
    </main>
    <!--  Main  -->
</body>
</html>